
*.xcbkptlist

*.xcscheme

Kuwait-Souq.xcodeproj/xcuserdata/macmini2.xcuserdatad/xcschemes/xcschememanagement.plist

Kuwait-Souq.xcodeproj/xcuserdata/ahmadalmoraly.xcuserdatad/xcschemes/xcschememanagement.plist

Kuwait-Souq.xcodeproj/xcuserdata/ahmadal-moraly.xcuserdatad/xcschemes/xcschememanagement.plist

Kuwait-Souq.xcodeproj/xcuserdata/Artgin.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcsettings

*.xcuserstate

Kuwait-Souq/.DS_Store

.DS_Store

*.xcworkspacedata
